<!DOCTYPE html>
<html>
<head>
    <title>Encode Image</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Encode Image</h1>
    <form action="/image/encode" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required><br><br>
        <textarea name="message" rows="10" cols="30" required></textarea><br><br>
        <input type="submit" value="Encode">
    </form>
    <br>
    {% if encoded_image %}
    <h3>Encoded Image:</h3>
    <img src="{{ url_for('image.get_last_encoded_image') }}" alt="Encoded Image">
    {% endif %}
</body>
</html>
