<!DOCTYPE html>
<html>
<head>
    <title>Steganography App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Steganography App</h1>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/image/encode">Encode</a></li>
            <li><a href="/image/decode">Decode</a></li>
        </ul>
    </div>
    <h2>Welcome to the Steganography App!</h2>
    <p>Steganography is the practice of hiding information within another medium (which is, usually, communicated in plain</p>
    <p>sight). If in encryption the difficulty lies in finding the secret (i.e.: the key) used to obfuscate the data, here the</p>
    <p>problem consists of detecting whether the data exists at all (the plausible deniability concept).</p>
</body>
</html>
